.DS_Store
.gitignore
.gitattributes
.idea
tmp

# ignore node_modules
node_modules

# ignore test results
coverage
reports
*.log
log/*

# ignore build outputs
**/aggregated-translations/*.*
lib
*/build

# ignore testing screenshots
errorScreenshots
**/__snapshots__/diff
**/__snapshots__/latest

# ignore docs
docs
README.MD

# ignore CI/CD config
Jenkinsfile
